[Desktop Entry]
Type=Application
Name=GTK Settings
Name[pl]=Ustawienia GTK
Name[es]=Ajustes de GTK
GenericName=Adjust Look and Feel
GenericName[pl]=Dopasuj ustawienia wyglądu
GenericName[es]=Personalizar apariencia
Comment=Customizes GTK3 look and feel settings
Comment[pl]=Dostosowuje ustawienia środowiska graficznego GTK3
Comment[es]=Personaliza la apariencia y el comportamiento de GTK3
Keywords=windows;preferences;settings;theme;style;appearance;look;
Keywords[pl]=okna;preferencje;ustawienia;motyw;styl;wygląd;
Keywords[es]=ventanas;preferencias;ajustes;tema;estilo;apariencia;aspecto;
Icon=nwg-look
Exec=nwg-look
NotShowIn=GNOME;KDE;XFCE;MATE;
StartupNotify=true
Categories=GTK;Settings;DesktopSettings;
